*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   min-height: 100vh;
   transition:all 0.3s ease;
   background-color: aliceblue;
}
h1{
    align-items: center;
    color: black;
    font-style:oblique;
    font-display: auto;
    align-content: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    height: 10vh;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.button{
    display:block;
    cursor: pointer;
    height: 100px;
    width: 100px;
    transition: transform 0.2s ease box-shadow 0.2s ease;

}
.button:hover {
    transform: translate(-6px);
    box-shadow: 0 14px 36px rgba(0, 0, 0, 0.25);
}